:root {
    --color-white: #f4f4f4;
    --color-dark: #323232;
    --color-light_brown: #ddd0c8;

    --font-family: "Manrope", sans-serif;
    --second-family: "Yeseva One", sans-serif;
}

img {
    max-width: 100%;
    height: 100%;
}

html {
    font-size: 62%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--color-dark);
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    color: var(--color-dark);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 7.2rem;
}

h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 4.8rem;
}

h3 {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 3.6rem;
}

.text-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.4rem;
}

.small-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.6rem;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

/* header */
.header {
    padding: 4rem 2rem;
    background-color: var(--color-dark);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__burger span {
    width: 66px;
    height: 46px;

    display: block;
    background: url('./img/burger.svg') no-repeat;

    cursor: pointer;
    transition: all 0.5s;
}

.header__burger span:hover {
    opacity: 0.7;
}

.header__phone a {
    font-weight: 300;
    font-size: 3.6rem;

    color: var(--color-white);
    transition: all 0.5s;
}

.header__phone a:hover {
    opacity: 0.7;
}

.header__nav {
    height: 45rem;
    max-width: 45rem;
    width: 100%;
    padding: 3.7rem 6rem 3rem 3rem;

    display: flex;
    justify-content: space-between;
    
    position: absolute;
    z-index: 10;
    top: -3.7rem;
    left: -100%;

    border-radius: 20px;
    background-color: var(--color-dark);

    opacity: 0;
    visibility: hidden;
    transition: left 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.header__nav.active {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.header__nav--close span {
    width: 48px;
    height: 48px;

    display: block;
    background: url('./img/close.svg') no-repeat;

    cursor: pointer;
    transition: all 0.5s;
}

.header__nav--close span:hover,
.header__menu a:hover {
    opacity: 0.7;
}

.header__menu {
    margin-top: 7rem;
}

.header__menu a {
    font-weight: 300;
    font-size: 3.6rem;
    color: var(--color-white);
    transition: all 0.5s;
}

.header__menu li {
    margin-bottom: 20px;
}

.header__menu li:nth-of-type(4) {
    margin-bottom: 0;
}

/* first__screen */
.main__screen {
    background-color: var(--color-light_brown);
    padding: 8rem 2rem 12rem;
}

.main__title {
    margin-bottom: 6rem;
}

.main__screen--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3.9rem;
}

.main__screen--wrapper img {
    border-radius: 20px;
    background-size: cover;
}

.main__screen--text {
    min-height: 315px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    width: 100%;
    max-width: 36rem;
    height: 6.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-dark);
    border-radius: 10px;

    transition: all 0.5s;
}

.btn:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
}

/* advantages */
.advantages {
    padding: 4rem 2rem 8rem;
    background-color: var(--color-white);
}

.advantages__title {
    padding-bottom: 10px;
    margin-bottom: 8rem;
    border-bottom: 1px solid var(--color-dark);
}

.advantages__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10rem;
}

.advantages__tabs {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.advantages__tab {
    width: 50rem;
    padding: 2.8rem 3.6rem 2.8rem 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: 1px solid var(--color-dark);
    border-radius: 20px;

    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.advantages__tab.active {
    background-color: var(--color-dark);
    color: var(--color-white);
}

.advantages__tab--img {
    width: 4.8rem;
    height: 5.0rem;
}

.advantages__tab--img.active {
    filter: invert(99%) sepia(0%) saturate(4137%) hue-rotate(98deg) brightness(124%) contrast(95%);
}

.advantages__content--item {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, height 0.5s ease-in-out;
}

.advantages__content--item.active {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.advantages__content--item img {
    border-radius: 20px;
    margin-bottom: 3.5rem;
}

.advantages__content--item p {
    max-width: 45rem;
}

/* goods */
.goods {
    background-color: var(--color-light_brown);
    padding: 10rem 2rem 16rem;
}

.goods__title {
    padding-bottom: 10px;
    margin-bottom: 6rem;
    border-bottom: 1px solid var(--color-dark);
}

.goods__text {
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goods__text p {
    max-width: 55.4rem;
}

.goods__buttons {
    width: 26.0rem;
    height: 8.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border: 1px solid var(--color-dark);
    border-radius: 60px;
}

/* prev/next */
.goods__btn {
    width: 6.5rem;
    height: 4.0rem;
    padding: 5.0rem;

    cursor: pointer;
    border: none;
    transition: all 0.5s;
}

.goods__btn:hover {
    filter: invert(100%) sepia(0%) saturate(2331%) hue-rotate(26deg) brightness(115%) contrast(91%);
}

.prev-btn {
    background: url('./img/arrow.svg') no-repeat center;
    transform: rotate(180deg);
}

.next-btn {
    background: url('./img/arrow.svg') no-repeat center;
}

.goods__wrapper {
    padding: 8rem 6rem 2rem;
    background-color: var(--color-dark);
    border-radius: 30px;
}

.goods__item {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 9.2rem;

    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out, height 0.6s ease-in-out;
}

.goods__item.active {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.goods__item img {
    max-width: 100%;
    width: 100%;
    display: block;
    border-radius: 20px;
}

.goods__item--about {
    max-width: 40.8rem;

    display: flex;
    flex-direction: column;
    gap: 6rem;

    color: var(--color-white);
}

.goods__wrapper:nth-of-type(2) .goods__item:nth-of-type(2) p {
    margin-bottom: 3.3rem;
}

.goods__item--btn {
    width: 100%;
    max-width: 40rem;
    height: 6.5rem;

    background-color: transparent;
    color: var(--color-white);

    cursor: pointer;
    border: 1px solid var(--color-white);
    border-radius: 10px;

    transition: all 0.5s;
}

.goods__item--btn:hover {
    background-color: var(--color-white);
    color: var(--color-dark);
}

.goods__dots--wrapper {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dot {
    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: var(--color-light_brown);

    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.dot.active {
    background-color: var(--color-white);
}

/* order */
.order {
    background-color: var(--color-light_brown);
    padding: 0 2rem 16rem;
}

.order__title {
    margin-bottom: 8rem;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-dark);
}

.order__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 3rem;
}

.order__wrapper--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem
}

.order__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
}

.order__form input:not([type="checkbox"]) {
    width: 46rem;
    padding: 1.9rem 3rem;

    border: 1px solid var(--color-dark);
    border-radius: 10px;

    background-color: transparent;
}

.order__form input:not([type="checkbox"]):focus {
    outline: none;
    -webkit-box-shadow: rgba(50, 50, 50, 0.16) 0px 1px 1px, rgb(50, 50, 50) 0px 0px 0px 1px;
    -moz-box-shadow: rgba(50, 50, 50, 0.16) 0px 1px 1px, rgb(50, 50, 50) 0px 0px 0px 1px;
    box-shadow: rgba(50, 50, 50, 0.16) 0px 1px 1px, rgb(50, 50, 50) 0px 0px 0px 1px;

}

.order__checkboxes {
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.order__checkboxes div {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;

    margin-right: 11px;
    border: 1px solid var(--color-dark);
    border-radius: 2px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: var(--color-dark);
}

input[type="checkbox"]:checked::after {
    content: '\2714';
    font-size: 18px;
    color: var(--color-white);

    position: absolute;
    top: 45%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.order__btn {
    cursor: pointer;
    transition: all 0.5s;
}

input.order__btn:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
}

.error {
    outline: none;
    border: 1px solid rgb(197, 11, 11) !important;
}

.error:focus {
    -webkit-box-shadow: rgba(197, 11, 11, 0.778) 0px 1px 1px, rgb(197, 11, 11) 0px 0px 0px 1px !important;
    -moz-box-shadow: rgba(197, 11, 11, 0.778) 0px 1px 1px, rgb(197, 11, 11) 0px 0px 0px 1px !important;
    box-shadow: rgba(197, 11, 11, 0.778) 0px 1px 1px, rgb(197, 11, 11) 0px 0px 0px 1px !important;
}

.order__form--item {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.order__form--item span {
    display: none;
    position: absolute;
    top: 6rem;
    left: 1rem;

    color: red;
    font-size: 12px;
}

.order__form--item.error-message span {
    display: block;
}

/* footer */
.footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 3.6rem 2rem;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer__menu {
    margin-right: 8.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4.2rem;
}

.footer__menu a,
.footer__copyright a,
.footer__contacts a {
    color: var(--color-white);
    transform: all 0.5s;
}

.footer__menu a:hover,
.footer__copyright a:hover,
.footer__contacts a:hover {
    opacity: 0.7;
}

.footer__copyright {
    margin-right: auto;
}

.footer__contacts a:first-of-type {
    margin-bottom: 6px;
}


/* modal-item */
.modal {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.overlay,
.overlay__order {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.7);
}

.modal__window {
    width: 100%;
    max-width: 96rem;
    height: 80rem;
    padding: 8rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    border-radius: 30px;
    background-color: var(--color-white);

    overflow: auto;
}

.modal__window--header {
    margin-bottom: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: start;
}

.modal__btn--close {
    padding: 3.8rem;

    display: block;
    border: none;
    background: url('./img/close.svg') no-repeat;
    filter: invert(99%) sepia(0%) saturate(4137%) hue-rotate(98deg) brightness(124%) contrast(95%);

    cursor: pointer;
    transition: all 0.5s;
}

.modal__btn--close:hover {
    opacity: 0.7;
}

.modal__window--body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 4rem;
}

.modal__window--text {
    max-width: 37.3rem;
}

.modal__window--text p:first-of-type {
    margin-bottom: 2rem;
}

.modal__window--body img {
    border-radius: 20px;
}

/* modal-order */
.modal__order {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal__order.active {
    opacity: 1;
    visibility: visible;
}

.modal__order--wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    width: 90%;
    max-width: 76rem;
    height: 60rem;
    padding: 8rem 6rem;
    border-radius: 30px;

    background-color: var(--color-dark);
    color: var(--color-white);
    overflow: auto;
    transform: translate(-50%, -50%);
}

.modal__order--wrapper div {
    margin-top: 7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal__order--wrapper div h2 {
    margin-bottom: 2rem;
}

.modal__order--btn {
    padding: 3.8rem;
    position: absolute;
    top: 8rem;
    right: 6rem;

    font-size: 2.4rem;
    background: url('./img/close.svg') no-repeat;

    cursor: pointer;
    border: none;
    transition: all 0.5s;
}

.modal__order--btn:hover {
    opacity: 0.7;
}


@media screen and (max-width: 999px) {
    html {
        font-size: 55%;
    }

    .main__screen--wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main__screen--text {
        min-height: 0;
        gap: 3rem;
        align-items: center;
        text-align: center;
    }

    .advantages__wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .goods__item {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .goods__item--about {
        gap: 3rem;
    }

    .order__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .order__wrapper--left {
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 45%;
    }

    .advantages__wrapper {
        gap: 6rem;
    }

    .goods__text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .modal__window--body {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 40px;
    }
}

@media screen and (max-width: 520px) {
    .main__title {
        font-size: 5rem;
    }

    .order__form {
        align-items: center;
    }

    .order__wrapper--right {
        width: 100%;
    }

    .order__form--item {
        width: 100%;
    }

    .order__form input:not([type="checkbox"]) {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    html {
    font-size: 40%;
    }

    .btn {
        max-width: 100%;
    }
}
